@font-face {
    font-family: 'Metropolis';
    src: url('https://adriencsc.github.io/metropolis-font/Metropolis-Black.woff2') format('woff2'),
         url('https://adriencsc.github.io/metropolis-font/Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
